@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

body {
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 100px;
  color: #fff;
  height: 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo:hover {
  color: #329a65;
}

.icons {
  display: flex;
  gap: 40px;
}

header .icon {
  width: 24px;
  height: 24px;
  background-image: url('icons.png');
  background-repeat: no-repeat;
}

.icon-calculator {
  background-position: 0 0;
  width: 24px;
  height: 24px;
}

.icon-calculator {
  background-position: 0 0;
}

.icon-grid {
  background-position: -24px 0;
}

.icon-compass {
  background-position: -48px 0;
}

.icon-calculator:hover {
  background-position: 0 -24px;
}

.icon-grid:hover {
  background-position: -24px -24px;
}

.icon-compass:hover {
  background-position: -48px -24px;
}

.user {
  display: flex;
  gap: 10px;
}

.user-text {
  font-size: 14px;
  position: relative;
  margin-left: 80px;
}

.user-text::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  left: -60px;
  bottom: 2px;
  background-color: #333333;
}

.user a {
  color: #3cb878;
  text-decoration: none;
}

.user a:hover {
  color: #329a65;
  text-decoration: underline;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login {
  color: #3cb878;
  text-decoration: none;
}

.login:hover {
  text-decoration: underline;
}

.sign-up {
  font-size: 20px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #3cb878;
  left: 0;
  position: absolute;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-buttons button {
  display: flex;
  width: 48%;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.facebook {
  background-color: #3b5998;
  color: white;
  position: relative;
}

.facebook:hover {
  background-color: #25427a;
}

.facebook-text {
  margin-left: 25px;
}

.google {
  background-color: #db4437;
  color: white;
  position: relative;
}

.google:hover {
  background-color: #b6392e;
}

.google-text {
  margin-left: 25px;
}

.facebook-icon {
  background-position: -72px 0;
  margin-right: 10px;
}

.google-icon {
  background-position: -96px 0;
  margin-right: 10px;
}

.facebook-icon::before {
  content: 'f';
  position: absolute;
  bottom: 5px;
  font-weight: bold;
  left: 18px;
  color: white;
  font-size: 22px;
}

.facebook-separator::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  left: 40px;
  bottom: 12px;
  background-color: #2f5196;
}

.google-icon::before {
  content: 'G';
  position: absolute;
  bottom: 5px;
  font-weight: bold;
  left: 10px;
  color: white;
  font-size: 22px;
}

.google-icon::after {
  content: '+';
  position: absolute;
  bottom: 11px;
  font-weight: bold;
  left: 27px;
  color: white;
  font-size: 14px;
}

.google-separator::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  left: 40px;
  bottom: 12px;
  background-color: #c8422d;
}

.or-separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or-separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-separator span {
  margin: 0 10px;
  font-weight: 500;
  color: #666;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form input:focus {
  box-shadow: 0 3px 5px rgb(219, 219, 219);
}

form .terms-conditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.checkbox {
  padding-top: 8px;
}

.terms {
  color: #3cb878;
  text-decoration: none;
}

form label input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

form button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #3cb878;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type='submit']:hover {
  background-color: #329a65;
}

input[type='checkbox'] {
  display: none;
}

label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

label::after {
  content: '';
  display: none;
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

input[type='checkbox']:checked + label::after {
  display: block;
}

.terms:hover {
  text-decoration: underline;
}
