* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #e0a800;
  font-family: sans-serif;
  font-style: 5vw;
  line-height: 1.3;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  perspective: 380px;
  perspective-origin: bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  transform: scaleY(0.9);
}

.credits {
  position: absolute;
  top: 0;
  left: 13%;
  right: 13%;
  height: 100%;
  animation: play 30s infinite;
}

.headings {
  margin-bottom: 5rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-size: 2.5rem;
}

@keyframes play {
  0% {
    transform: rotateX(16deg) translate3d(0, 50rem, 0);
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: rotateX(16deg) translate3d(0, -50rem, 0);
    opacity: 1;
  }
}
