body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  color: #4bcaff;
  font-size: 42px;
  margin-bottom: 30px;
}

.logo span {
  color: black;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  background-color: #35444f;
}

.header a {
  color: white;
  display: inline-block;
  padding: 0 30px;
}

.header a:hover {
  background-color: #222f3a;
}

.content {
  overflow: hidden;
  padding: 30px 0;
}

.sidebar {
  width: 200px;
  float: left;
  border: 2px solid silver;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #54636d;
  line-height: 30px;
}

.sidebar li a:hover {
  background-color: #dbdbdb;
  padding-left: 35px;
  color: black;
}

.main {
  margin-left: 230px;
}

.text {
  font-size: 14px;
  padding: 20px 20px 0 20px;
}

.second-logo {
  width: 99.6%;
  height: auto;
  border: 2px solid silver;
}

.footer {
  background-color: #b4b7ba;
  padding: 0 20px;
  text-align: center;
  height: 50px;
  display: block;
  position: relative;
}

.links {
  float: left;
}

.links a {
  margin: 0 10px;
  color: black;
  line-height: 50px;
}

.footer a:hover {
  color: #4288a8;
  text-decoration: underline;
}

.copyright {
  float: right;
  line-height: 50px;
  color: black;
}
