body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

header {
  height: 100px;
  padding: 20px;
  overflow: hidden;
}

.header-content {
  margin: 0 auto;
  display: block;
  width: 1700px;
  height: 1000px;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-family: roboto;
  color: white;
  margin-left: 30px;
}

.logo > a {
  display: flex;
  color: white;
  text-decoration: none;
}

.logo img {
  height: 50px;
}

.logo-words {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.logo-words span {
  display: block;
}

.logo .milan {
  font-size: 30px;
  font-weight: bold;
}

.logo .holidays {
  font-size: 19px;
  font-weight: bold;
}

.contacts {
  margin-top: 10px;
  margin-right: 36px;
  text-align: end;
  font-size: 28px;
}

main {
  padding: 20px;
  overflow: hidden;
}

main > div {
  margin: 0 auto;
  display: block;
  width: 1700px;
  height: 1000px;
}

.tour-card {
  float: left;
  width: 507px;
  margin: 1.66%;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  position: relative;
}

.tour-card img {
  width: 501px;
  height: auto;
  border: 3px solid;
  border-image: linear-gradient(to bottom, white, black) 1;
}

.tour-card span {
  font-size: 24px;
  display: block;
  width: 507px;
  height: 50px;
  padding-top: 20px;
}

.tour-card span {
  display: none;
}

.tour-card .title {
  display: block;
}

.tour-card .title:hover {
  color: #f26522;
}

.tour-card:hover::before {
  content: '';
  position: absolute;
  bottom: 74px;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #f26522;
}

.tour-card:hover::after {
  content: 'from';
  position: absolute;
  bottom: 124px;
  left: 20px;
  color: white;
  font-size: 14px;
}

.tour-card:hover .price {
  position: absolute;
  bottom: 74px;
  left: -212px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.tour-card:hover .view-details {
  position: absolute;
  bottom: 70px;
  left: 180px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.view-details::after {
  content: ' ➤';
}

footer {
  padding: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}
