body {
  font-family: 'Kantumruy Pro', sans-serif;
  text-align: center;
  font-size: 12px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 44%;
  border: 20px solid #3a4965;
}

.gray td {
  background-color: #e3e3e3;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #fafafa;
  font-weight: bold;
  font-size: 18px;
}

td {
  height: 25px;
  color: #484848;
  background-color: #f2f2f2;
}

.plan {
  color: white;
  font-weight: 600;
}

.price {
  position: relative;
  height: 100%;
}

.integers {
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  bottom: -8px;
  left: 10px;
}

.fractions {
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  left: 72px;
  bottom: 11px;
}

.per-month {
  font-size: 12px;
  position: absolute;
  left: 72px;
  bottom: -2px;
}

.standart {
  background-color: #89c331;
}

.ultimate {
  font-size: 20px;
  background-color: #f04a56;
}

.premium {
  background-color: #20807c;
}

.pricing-plan > span {
  font-size: 20px;
}

.pricing-plan {
  color: #484848;
  font-size: 12px;
}

button {
  width: 140px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 10px;
}

.buttons {
  height: 80px;
}

.contact {
  background-color: #484848;
  box-shadow: inset 0 -4px 0 0 #404040;
}

.buy-standart {
  background-color: #89c331;
  box-shadow: inset 0 -4px 0 0 #79b027;
}

.buy-ultimate {
  background-color: #f04a56;
  box-shadow: inset 0 -4px 0 0 #df3a46;
}

.buy-premium {
  background-color: #20807c;
  box-shadow: inset 0 -4px 0 0 #16736f;
}

button:hover {
  box-shadow: 0 0 10px black;
}

i {
  margin-right: 10px;
}
