h1 {
  margin: 0;
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.content {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f5f6f8;
}
.menu {
  height: 80px;
  line-height: 80px;
  display: inline-block;
  width: 100%;
  padding-left: 30%;
  font-size: 18px;
  font-weight: 600;
  color: #1da382;
}
.menu-item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
  color: #16a085;
}
.top-img {
  width: 100%;
}
.text {
  margin: 24px auto 0;
  width: 90%;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
}
.gs {
  display: block;
  width: 204px;
  height: 10px;
  line-height: 10px;
  margin: 0 auto;
  padding: 23px 0 28px;
  position: relative;
  border: #16a085;
  border-radius: 3px;
  background: #16a085;
  text-align: center;
  margin-top: 30px;
}
.gs a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
footer {
  font-weight: 600;
  padding-right: 100px;
  height: 100px;
}
.copyright {
  float: right;
  letter-spacing: 1px;
  margin-top: 35px;
}
